body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #f7f9fc;
}

nav{
    display: flex;
    background-color: #1a2a3a;
}

nav *{
    font-size: 16px;
    margin: 10px;
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.namen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: 10px;
    background: #1a2a3a;
    color: white;
    border-radius: 5px;
}